WEB/Service References/CatalogoService/SistemaRRHHServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SistemaRRHHServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.142.6.55:7075/SistemaRRHHServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.142.6.55:7075/SistemaRRHHServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.142.6.55:7075/SistemaRRHHServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISistemaRRHHServices_CargarCatalogoWCF_InputMessage">
    <wsdl:part name="parameters" element="tns:CargarCatalogoWCF" />
  </wsdl:message>
  <wsdl:message name="ISistemaRRHHServices_CargarCatalogoWCF_OutputMessage">
    <wsdl:part name="parameters" element="tns:CargarCatalogoWCFResponse" />
  </wsdl:message>
  <wsdl:message name="ISistemaRRHHServices_CargarCatalogoDependienteWCF_InputMessage">
    <wsdl:part name="parameters" element="tns:CargarCatalogoDependienteWCF" />
  </wsdl:message>
  <wsdl:message name="ISistemaRRHHServices_CargarCatalogoDependienteWCF_OutputMessage">
    <wsdl:part name="parameters" element="tns:CargarCatalogoDependienteWCFResponse" />
  </wsdl:message>
  <wsdl:portType name="ISistemaRRHHServices">
    <wsdl:operation name="CargarCatalogoWCF">
      <wsdl:input wsaw:Action="http://tempuri.org/ISistemaRRHHServices/CargarCatalogoWCF" message="tns:ISistemaRRHHServices_CargarCatalogoWCF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISistemaRRHHServices/CargarCatalogoWCFResponse" message="tns:ISistemaRRHHServices_CargarCatalogoWCF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CargarCatalogoDependienteWCF">
      <wsdl:input wsaw:Action="http://tempuri.org/ISistemaRRHHServices/CargarCatalogoDependienteWCF" message="tns:ISistemaRRHHServices_CargarCatalogoDependienteWCF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISistemaRRHHServices/CargarCatalogoDependienteWCFResponse" message="tns:ISistemaRRHHServices_CargarCatalogoDependienteWCF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISistemaRRHHServices" type="tns:ISistemaRRHHServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarCatalogoWCF">
      <soap:operation soapAction="http://tempuri.org/ISistemaRRHHServices/CargarCatalogoWCF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarCatalogoDependienteWCF">
      <soap:operation soapAction="http://tempuri.org/ISistemaRRHHServices/CargarCatalogoDependienteWCF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SistemaRRHHServices">
    <wsdl:port name="BasicHttpBinding_ISistemaRRHHServices" binding="tns:BasicHttpBinding_ISistemaRRHHServices">
      <soap:address location="http://10.142.6.55:7075/SistemaRRHHServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>