WEB/Service References/CatalogoService/SistemaRRHHServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.142.6.55:7075/SistemaRRHHServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BAL" />
  <xs:element name="CargarCatalogoWCF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarCatalogoWCFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BAL" minOccurs="0" name="CargarCatalogoWCFResult" nillable="true" type="q1:ArrayOfCatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarCatalogoDependienteWCF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarCatalogoDependienteWCFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BAL" minOccurs="0" name="CargarCatalogoDependienteWCFResult" nillable="true" type="q2:ArrayOfCatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>